@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute-div {
  position: absolute;
  top: 81%;
  left: 23%;
}

.connect-wallet {
  background-color: #d2f55e !important;
  color: #17233a !important;
}